{% extends "@IntegratedUser/layout.html.twig" %}

{% block style %}
    {{ parent() }}

    {% include('@IntegratedUser/partial/modal.html.twig') %}
{% endblock style %}

{% block body %}
    <div class="modal auth">
        <div class="modal-dialog">
            <div class="modal-content ">
                {{ form_start(form, {'style': 'horizontal', 'label_col': 3, 'widget_col': 9, 'col_size': 'sm'}) }}

                <div class="modal-header">
                    <h4 class="modal-title">{% trans %}Password reset{% endtrans %}</h4>
                </div>

                <div class="modal-body">
                    {{ form_widget(form) }}
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <div class="modal-backdrop"></div>
{% endblock body %}
