<div class="panel panel-default">
    <div class="panel-heading">
        {{ block.title }}
    </div>

    <div class="panel-body">
        <form method="get"{% if block.url|default %} action="{{ block.url }}"{% endif %}>
            <input type="text" name="{{ block.block.id }}-search" value="{{ app.request.get(block.block.id ~ '-search') }}" />
            <input type="submit" />
        </form>
    </div>
</div>
