{% spaceless %}
{% if grid.items is defined %}

    {% for item in grid.items %}

        {% if item.block %}
            <div class="block">

            </div>
        {% endif %}

        {% if item.row %}
            <div class="row">
                {% for column in item.row.columns %}

                    <div class="col-xs-{{ column.size }}">
                        {{ include('IntegratedWebsiteBundle::grid.html.twig', { 'grid': column }) }}
                    </div>

                {% endfor %}
            </div>
        {% endif %}

    {% endfor %}

{% endif %}
{% endspaceless %}