<div class="alert alert-danger">
    {% trans %} This item is still on use by: {% endtrans %}<br>
    {% for item in referenced %}
        {% if item.action is defined %}
            <a href="{{ path(item.action,{'id':item.id}) }}">{{ item.name }}</a><br>
        {% else %}
            {{ item.name }} &nbsp; {{ item.id }}<br>
        {% endif %}
    {% endfor %}
</div>