{% block form_label %}
    {% spaceless %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}

        <h3 class="font-medium">{{ label|trans({}, translation_domain)|raw }}</h3>
    {% endspaceless %}
{% endblock %}
