{% extends 'IntegratedContentBundle::base.html.twig' %}

{% block crumbs %}
    <div class="breadcrumb-holder">
        <div class="container">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('integrated_user_iplist_index') }}">{% trans %}Home{% endtrans %}</a>
                </li>
                <li class="active">{% trans %}Delete{% endtrans %}</li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 push-sm-down">
            <h1 class="main-title font-regular">{% trans %}Delete{% endtrans %} <small>{% trans %}ip list{% endtrans %}</small></h1>
            <section class="section-white section-padding section-shadow section-radius">
                <p>
                    {% trans with {'%ip%':  list.ip.protocolAppropriateAddress} %}You are about to delete the ip "%ip%" from the block list, click the delete button below to confirm the action.{% endtrans %}
                </p>
                {{ form(form, { 'style': 'horizontal' }) }}
            </section>
        </div>
    </div>
{% endblock %}
