{% extends 'base.html.twig' %}

{% block content %}

<div class="row">

    <div class="page-header">
        <h1>Delete <small>{{ type.type }}</small></h1>
    </div>

    <div class="col-md-9">

        <p>You are about to delete "{{ content.name }}", click the delete button below to confirm the action.</p>

        {{ form(form) }}

    </div>

    <div class="col-md-3">

    </div>

</div>

{% endblock %}