{% extends 'base.html.twig' %}

{% block content %}

<div class="row">

    {% block notice %}

        {% for notice in app.session.flashbag.get('notice') %}

            <div class="alert alert-success">
                <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>

                <h4>{{ notice.head }}</h4>
                <p>{{ notice.body }}</p>
            </div>

        {% endfor %}

    {% endblock %}

    <div class="page-header">
        <h1>Edit <small>{{ type.type }}</small></h1>
    </div>

    <div class="col-md-9">

        {{ form(form) }}

    </div>

    <div class="col-md-3">

    </div>

</div>

{% endblock %}