{% extends 'IntegratedContentBundle::base.html.twig' %}
{% block body %}

<ol class="breadcrumb">
    <li>
        <a href="{{ path('integrated_content_content_index') }}">Home</a>
    </li>
    <li class="active">Edit</li>
</ol>

<div class="page-header">
    <h1>Edit <small>{{ type.type }}</small></h1>
</div>

<div class="row">


    <div class="col-md-9">

        {{ form(form, { 'style': 'horizontal' }) }}

    </div>

    <div class="col-md-3">

    </div>

</div>

{% endblock %}