{% extends 'IntegratedContentBundle:Content:edit.html.twig' %}
{% block crumbs %}
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('integrated_content_content_index') }}">{% trans %}Home{% endtrans %}</a>
        </li>
        <li class="active">{% trans %}New{% endtrans %}</li>
    </ol>
{% endblock %}
{% block pageTitle %}
    {% trans %}New{% endtrans %} {{ type.name }}
{% endblock %}