<!DOCTYPE html>
<html>
<head>
    <script>
        parent.$('.relation-items#{{ relation }}').append('<option selected value="{{ id }}">{{ title }}</option>').trigger('change');
        parent.$('.relation-items#{{ relation }}').closest(".relation").find(".bs-example-modal-lg").modal('hide');
    </script>
</head>
<body>
</body>
</html>