<!DOCTYPE html>
<html>
<head>
    <script>
        parent.$(function() {
            parent.$('#{{ relation }}')
                .closest(".relation")
                .find(".bs-example-modal-lg")
                .modal('hide');
        });
    </script>
</head>
<body>
</body>
</html>