/web/assetic/
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/components/
/composer.phar
/web/css/
/web/js/
/web/fonts/
/web/bower/
/web/genghis.php
/conf.d/.ssh/
/.idea/
/.vagrant/
