/web/assetic/
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/components/
/composer.phar
/composer.lock
/.idea
/web/css/
/web/js/
/web/fonts/
/web/bower/
/conf.d/.ssh/
/.vagrant/