<?php

return PhpCsFixer\Config::create()
    ->setRules([
        '@PSR2' => true,
        '@Symfony' => true,
        '@Symfony:risky' => true,
        'array_syntax' => ['syntax' => 'short'],
        'line_ending' => false,
        'no_short_echo_tag' => true,
        'no_useless_else' => true,
        'no_useless_return' => true,
        'protected_to_private' => false,
        'yoda_style' => null,
        'no_superfluous_phpdoc_tags' => false,
        'single_line_throw' => false,
        'php_unit_mock_short_will_return' => false,
        'ordered_imports' => false,
    ])
    ->setRiskyAllowed(true)
    ->setFinder(
        PhpCsFixer\Finder::create()
            ->in(__DIR__.'/src')
            ->append([__FILE__])
    )
;
