<?xml version="1.0"?>
<ruleset name="PSR-2 coding standard">
    <description>PSR-2 coding standards</description>

    <arg name="extensions" value="php"/>

    <rule ref="PSR2"/>
    <rule ref="Generic.Arrays.DisallowLongArraySyntax"/>
    <rule ref="Generic.Files.LineLength">
        <properties>
            <property name="lineLimit" value="240"/>
            <property name="absoluteLineLimit" value="0"/>
        </properties>
    </rule>

    <file>src</file>
</ruleset>