includes:
  - vendor/phpstan/phpstan-doctrine/extension.neon
parameters:
  excludes_analyse:
    - src/Behat/
  ignoreErrors:
    - '#Instantiated class Imagick not found#'
    -
      message: '#does not call parent constructor#'
      path: */ContainerAware*
  level: 1
  paths:
    - src/