{% extends 'IntegratedContentBundle::base.html.twig' %}
{% block crumbs %}
    <div class="breadcrumb-holder">
        <div class="container">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('integrated_page_content_type_page_index') }}">{% trans %}Content type pages{% endtrans %}</a>
                </li>
                <li class="active">{% trans %}Edit{% endtrans %}</li>
            </ol>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12 push-sm-down">
            <h1 class="main-title font-regular">
                {% trans %}Edit{% endtrans %} <small>{% trans %}Content type page{% endtrans %}</small>
            </h1>
            <section class="section-white section-padding section-shadow section-radius">
                <h2>{{ page.contentType.name }}</h2>
                {{ form(form, { 'style': 'horizontal' }) }}
            </section>
        </div>
    </div>
{% endblock %}
