{% set edit = app.request.attributes.get('integrated_block_edit') %}

{% if edit|default %}
<div class="integrated-website-channel-block-grid">
    <div data-block-type="channel" data-id="{{ id }}">
{% endif %}

{{ content|raw }}

{% if edit|default %}
    </div>
</div>
{% endif %}