{% extends integrated_active_theme('base.html.twig') %}

{% block title %}Page not found{% endblock %}

{% block content %}
    <h1>Page not found</h1>

    <p>The page could not be found</p>
{% endblock %}
