{% extends integrated_active_theme('base.html.twig') %}

{% block title %}Internal server error{% endblock %}

{% block content %}
    <h1>Internal server error</h1>

    <p>Please try again later</p>
{% endblock %}
