{% extends integrated_active_theme('base.html.twig') %}

{% block title %}Unknown application error{% endblock %}

{% block content %}
    <h1>Unknown application error</h1>

    <p>Please try again later</p>
{% endblock %}
