{% extends integrated_active_theme('base.html.twig') %}

{% block title %}{{ taxonomy.title }}{% endblock %}

{% block meta %}
    {{ parent() }}

    {% include integrated_active_theme('widgets/canonical.html.twig') with {'content': taxonomy} only %}
{% endblock %}

{% block content %}
    {% include '@IntegratedWebsite/json-ld.html.twig' with {content: taxonomy} %}

    <h1>{{ taxonomy.title }}</h1>

{% endblock %}
