<!DOCTYPE html>
<html>
<head>

    <title>{% block title %}{% trans %}Integrated{% endtrans %}{% endblock title %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

{% block style %}

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen" />

    {% stylesheets "@integrated_css" %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

{% endblock style %}

</head>
<body>
{% block form_theme %}
    {% if form is defined %}
        {% form_theme form with ['IntegratedFormTypeBundle:form:form_div_layout.html.twig'] %}
    {% endif %}
{% endblock %}

    <div class="container">
        {% include 'BraincraftedBootstrapBundle::flash.html.twig' with { 'close': true } %}
        {% block body %}{% endblock body %}
    </div>

{% block javascript %}
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="{{ asset('/js/bootstrap.js') }}"></script>

    {% javascripts "@integrated_js" %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascript %}

</body>
</html>
