{% extends 'IntegratedContentBundle::base.html.twig' %}
{% block crumbs %}
    <div class="breadcrumb-holder">
        <div class="container">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('integrated_content_content_type_index') }}">{% trans %}Content types{% endtrans %}</a>
                </li>
                <li class="active">{% trans %}New{% endtrans %}</li>
            </ol>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12 push-sm-down">
            <h1 class="main-title font-regular">{% trans %}New{% endtrans %}</h1>
            <section class="section-white section-padding section-shadow section-radius">
                <a class="btn btn-primary" href="{{ path('integrated_content_content_type_index') }}">{% trans %}Back to Overview{% endtrans %}</a>
                {{ form(form, { 'style': 'horizontal' }) }}
            </section>
        </div>
    </div>
{% endblock %}
