{% extends 'IntegratedWorkflowBundle::layout.html.twig' %}

{% block crumbs %}
    <div class="breadcrumb-holder">
        <div class="container">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('integrated_content_content_index') }}">{% trans %}Home{% endtrans %}</a>
                </li>
                {% block crumbsActive %}
                    <li class="active">{% trans %}Edit{% endtrans %}</li>
                {% endblock %}
            </ol>
        </div>
    </div>
{% endblock %}

{% block content %}

    <h1 class="main-title font-regular">
        {% block contentTitle %}
            {% trans %}Edit{% endtrans %} Workflow
        {% endblock %}
        <i class="integrate-icon-edit"></i>
    </h1>

    <div class="row">

        <div class="col-md-12">
            <section class="section-white section-padding section-shadow section-radius">
                {{ form(form, { 'style': 'horizontal' }) }}
            </section>
        </div>

    </div>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    {# TODO: migrate to Webpack Encore
    {% javascripts
    '@IntegratedWorkflowBundle/Resources/public/js/updateTransitions.js'
    '@IntegratedWorkflowBundle/Resources/public/js/defaultSelection.js'
    '@IntegratedWorkflowBundle/Resources/public/js/select2_init.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
     #}
{% endblock %}
