{% extends '@IntegratedWorkflow/workflow/edit.html.twig' %}

{% block crumbsActive %}
    <li class="active">{% trans %}New{% endtrans %}</li>
{% endblock %}

{% block contentTitle %}
    {% trans %}New{% endtrans %} Workflow
{% endblock %}
