@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/* STYLES */
#wrapper-holder {
  padding-bottom: 120px;
}

label.is-primary-channel {
  font-weight: bold;
}

.select2-dropdown-image {
  max-height: 40px;
  margin-right: 5px;
}

.select2-selection__choice {
  max-width: 100%;
}

.select2-selected {
  display: inline-block;
  max-width: 95%;
  overflow: hidden;

  img {
    margin: 0 5px 0 -5px;
    max-height: 40px;
  }
}

.button-submitted {
  cursor: not-allowed;
  opacity: 0.65;
}

.button-submitted .glyphicon-refresh {
  margin-right: 10px;
  -webkit-animation: spin 3s linear infinite;
  -moz-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

.add-relation {
  position: relative;
}

.section-margin {
  margin-bottom: 20px !important;
}

.bulk-readonly {
  position: relative;
}

.bulk-readonly-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.relation .input-group {
  display: inline-block;
  position: relative;
  width: 100%;

  .input-group-addon {
    display: inline-block;
    float: left;
    height: 100%;
    position: absolute;
    width: 11%;
    text-align: inherit;

    .add-relation {
      height: 100%;
    }

    button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
    }
  }

  .select2-container {
    float: left;
  }
}

@media only screen and (max-width: 767px) {
  .relation .input-group .select2 .select2-selection {
    height: auto;
  }
}
