{% extends 'IntegratedContentBundle::base.html.twig' %}
{% block crumbs %}
    <div class="breadcrumb-holder">
        <div class="container">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('integrated_content_relation_index') }}">{% trans %}Home{% endtrans %}</a>
                </li>
                <li class="active">{% trans %}Edit{% endtrans %}</li>
            </ol>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12 push-sm-down">
            <h1 class="main-title font-regular">{% trans %}Edit{% endtrans %}</h1>
            <section class="section-white section-padding section-shadow section-radius">
                {{ form(form, {'style': 'horizontal'}) }}
            </section>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    {{ parent() }}

    <script>
    $(document).ready(function() {
        $('#integrated_relation_sources').select2();
        $('#integrated_relation_targets').select2();
    });
    </script>
{% endblock javascript %}
