#wrapper-holder {
    padding-bottom: 85px;
}

#wrapper-holder > .container {
    width: auto;
    background: #fff;
}

#wrapper-holder > .container .section-radius {
    box-shadow: none;
}

.section-padding {
    padding: 10px 20px 10px 10px;
}

body {
    background: #fff;
}

