{% extends 'IntegratedWebsiteBundle:themes/default:base.html.twig' %}

{% block content %}
    {% include 'IntegratedWebsiteBundle::json-ld.html.twig' with {content: article} %}

    <h1>{{ article.title }}asdfasdfasdf asdf </h1>

    {{ article.content|integrated_content }}

    {{ integrated_grid('below_article') }}
{% endblock %}
