{% extends 'IntegratedContentBundle::mail.html.twig' %}

{% block body %}
    {% trans %}Click the button below to reset your Integrated password.{% endtrans %}
{% endblock %}

{% block buttonRow %}
    <tr>
        <td class="content-block" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; padding: 20px; background: #e9e9e9;" valign="top"><a href="{{ path('integrated_user_password_change', {'id': user.id, 'timestamp': timestamp, 'key': key}, true) }}" class="btn-primary" style="font-size: 14px; text-decoration: none; line-height: 2em; font-weight: bold; text-align: center; cursor: pointer; display: block; border-radius: 5px; text-transform: capitalize; background-color: #016aac; border-color: #016aac; padding: 8px 0;color:#ffffff;">{% trans %}Reset password{% endtrans %}</a></td>
    </tr>
{% endblock %}
