body {
    overflow-x:hidden;
}

.navbar-height {
    height: 51px;
}

.section {
    position: relative;
}

.sortable {
    min-height: 100px;
}

.placeholder {
    background: #f5f5f5;
}

[data-action="remove-block"] {
    position: absolute;
    right: 0;
}
