<div class="aside-item-holder section-white">
    <h3 class="font-medium">{% trans %}History{% endtrans %}</h3>

    <div class="media">
        <div class="media-left">
            <img class="media-object img-circle" src="http://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?s=36" alt="">
        </div><!-- media-left -->
        <div class="media-body">
            <h4 class="media-heading">e-active</h4>
            <p><small>Jul 8, 2016, 3:03:29 PM</small></p>
            <p><small>Draft</small></p>
            Yoyo, dit is cool.
        </div><!-- media-body -->
    </div><!-- media -->

</div>
