{% if app.request.attributes.get('integrated_block_edit') %}
    <div class="panel panel-danger">
        <div class="panel-heading">
            {% trans with { '%id%': id } %}Block "%id%" contains an error{% endtrans %}
        </div>
    </div>
{% endif %}
