<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Untitled{% endblock %}</title>
    <meta charset="UTF-8" />

    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" />

    <style>
        .block { min-height: 100px; background: #ccc; padding: 8px; margin-bottom: 30px; }
    </style>
</head>
<body>

<div class="container">
    {{ grid('main') }}
</div>

</body>
</html>