<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Untitled{% endblock %}</title>
    <meta charset="UTF-8" />

    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" />
</head>
<body>

<div class="container">
    {{ integrated_grid('main') }}
</div>

</body>
</html>