<div class="panel panel-default">
    <div class="panel-heading">
        {{ block.publishedTitle }}
    </div>

    <div class="panel-body">
        <ul>
            {% for document in pagination %}

                <li>
                    <a href="{{ integrated_url(document) }}">
                        {{ document.title|default }}
                    </a>
                </li>

            {% endfor %}
        </ul>
    </div>
</div>
