{% extends 'IntegratedContentBundle::base.html.twig' %}
{% block body %}
<ol class="breadcrumb">
    <li>
        <a href="{{ path('integrated_content_contenttype_index') }}">Home</a>
    </li>
    <li class="active">Edit</li>
</ol>
<h1>Edit</h1>
{{ form(form, {'style': 'horizontal'}) }}
{% endblock %}