{% for document in documents %}
    <li>
        <a tabindex="-1" role="menuitem" href="{{ path('integrated_content_content_new', {'class': document.class, 'type': document.type}) }}">
            {{ document.name }}
        </a>
    </li>
{% else %}
    <li>
        {% trans %}No content types added{% endtrans %}
    </li>
{% endfor %}