<h1>
    Select document type
</h1>
<form method="get" action="{{ path('integrated_content_contenttype_new') }}">
    <label>Document type</label>
    <select name="className">
        {% for key, document in documents %}
        <option value="{{ document.className }}">{{ document.classType }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Submit" />
</form>