{% extends '@IntegratedContent/base.html.twig' %}

{% block style %}
    {{ parent() }}

    <style>
        #copy-table .radio {
            padding-right: 15px;
        }
        #copy-table .radio:last-child {
            padding-right: 0px;
        }
    </style>
{% endblock %}

{% block crumbs %}
    <div class="breadcrumb-holder">
        <div class="container">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('integrated_page_page_index') }}">{% trans %}Pages{% endtrans %}</a>
                </li>
                <li class="active">{% trans %}Copy pages{% endtrans %}</li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 push-sm-down">
            <section class="section-white section-padding section-shadow section-radius">

                {% form_theme form with ['IntegratedPageBundle:form:form_div_layout.html.twig'] %}

                {{ form(form) }}

            </section>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script>
    $('.copy-pages-blocks input:radio').click(function() {
        var newBlockIdField = $(this).closest('div.row').find('input:text');
        if ($(this).val() == '') {
            newBlockIdField.prop('disabled', true);
            newBlockIdField.val('');
        } else {
            newBlockIdField.prop('disabled', false);
            newBlockIdField.val(newBlockIdField.data('proposed-block-id'));
        }
    });
    </script>
{% endblock %}
