/* STYLES */
#wrapper-holder {
    padding-bottom: 120px;
}

label.is-primary-channel {
    font-weight: bold;
}

.select2-dropdown-image {
    max-height: 40px;
    margin-right: 5px;
}

div.select2-selected {
    display: inline;
}

div.select2-selected img {
    margin: 0 5px 0 -5px;
    max-height: 40px;
}

.mt-10 {
    margin-top: 10px !important;
}

.ml-10 {
    margin-left: 10px !important;
}

.mr-10 {
    margin-right: 10px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}