/* STYLES */
#wrapper-holder {
    padding-bottom: 120px;
}

label.is-primary-channel {
    font-weight: bold;
}

.select2-dropdown-image {
    max-height: 40px;
    margin-right: 5px;
}

.select2-selection__choice {
    max-width: 100%;
}

.select2-selected {
  display: inline-block;
  max-width: 95%;
  overflow: hidden;

  img {
    margin: 0 5px 0 -5px;
    max-height: 40px;
  }
}
