<!DOCTYPE html>
<html>
<head>
    <script>
        {% if (relation) %}
            /**
             * @type object|null
             */
            var relation = parent.$('.relation-items#{{ relation }}');

            if (0 < relation.length) {
                parent.$('.relation-items#{{ relation }}').append('<option selected value="{{ id }}">{{ title }}</option>').trigger('change');
                parent.$("#relation-add-modal.modal").modal('hide');
            }
        {% endif %}

        /**
         * @type object|null
         */
        var tinymce = top.tinymce;

        if ('undefined' != typeof(tinymce)) {
            tinymce.activeEditor.windowManager.close();
        }
    </script>
</head>
<body>
</body>
</html>
