<div class="panel panel-default">
    <div class="panel-heading">
        {{ block.title }}
    </div>

    <div class="panel-body">
        {% set filter = app.request.query.get(block.field)|default([]) %}

        {% for name, count in facet %}
            {% set params = {(block.field): (name in filter) ? filter|unset_value(name) : filter|merge([name])} %}
            {% set params = app.request.query.all|merge(app.request.attributes.get('_route_params')|merge(params)) %}

            <div>
                <label>
                    <input type="checkbox"{% if name in filter %} checked="checked"{% endif %} disabled="disabled" />
                    <a href="{{ path(app.request.attributes.get('_route'), params) }}">{{ name }}</a>
                    {{ badge(count) }}
                </label>
            </div>

        {% endfor %}
    </div>
</div>
